.circle-gradient {
  position: absolute;
  width: 184.21px;
  height: 189.31px;
  top: 243.29px;
  left: 195.12px;
  border-radius: 50%;
  background: radial-gradient(circle, #C333FF 0%, #8A00FF 100%);
  opacity: 1;
}