@use "@/styles/base/variables" as vars;
@use "@/styles/base/mixins" as mixins;
.plans-cards{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: vars.$gap;

    @include mixins.responsive(vars.$mobile) {
    grid-template-columns: repeat(1, 1fr);
    padding: 16px;
  }
}

.plan-card-item {
  grid-column: span 4;
}