@use "@/styles/base/variables" as vars;
@use "@/styles/base/mixins" as mixins;
@use "@/styles/base/typography" as type;
.plan-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.plans-page{
    grid-column: 1 / -1;
    align-items: center;
}
.plans-card{
    &__back {
        grid-column: 1 / -1;
        color: #4F4FFF;
        padding: 4px;
        font-size: small;
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
    }
    &__back-item{
        color: #4F4FFF;
        border-radius: 24px;
        border: 1px solid #4F4FFF;
        padding: 4px;
        font-size: xx-small;
    }
    &__user{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}