@use "@/styles/base/variables" as vars;
@use "@/styles/base/mixins" as mixins;
@use "@/styles/base/typography" as type;

.insurance-page {
  @include mixins.flex-center;
  display: contents;
  gap: 32px;
  padding: 24px;

  @include mixins.responsive(vars.$mobile) {
    flex-direction: column;
    padding: 16px;
  }

  &__image {
    flex: 1;
    grid-column: span 5;

    img {
      width: 100%;
      height: auto;
      border-radius: 16px;
      object-fit: cover;
    }

    @include mixins.responsive(vars.$mobile) {
      display: none;
    }
  }
  &__space {
    flex: 2;
    grid-column: span 1;

    @include mixins.responsive(vars.$mobile) {
      display: none;
    }
  }

  &__content {
    flex: 3;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__text {
    span {
      display: inline-block;
      border-radius: 4px;
      padding: 4px 8px;
      font-size: 14px;
      font-weight: 500;
      background: linear-gradient(
        135deg,
        #00F4E2 0%,
        #00FF7F 100% 
      );
      margin-bottom: 8px;
    }

    .insurance-page__title {
        font-size: 32px;
        font-weight: 700;
        color: #03050F;
        margin: 8px 0;
        @include mixins.responsive(vars.$mobile) {
          font-size: 28px;
          margin: 0;
        }
    }

    .insurance-page__subtitle {
      font-size: 16px;
      font-weight: 400;
      color: #5E6488;
      @include mixins.responsive(vars.$mobile) {
        font-size: 14px;
        margin-top: 16px;
      }
    }
  }

  &__header-mobile {
    display: contents;
    span {
      display: inline-block;
      border-radius: 4px;
      padding: 4px 8px;
      font-size: 14px;
      font-weight: 500;
      background: linear-gradient(
        135deg,
        #00F4E2 0%,
        #00FF7F 100% 
      );
      margin-bottom: 8px;
    }
    @include mixins.responsive(vars.$mobile) {
      display: flex;
      gap: 16px;
      align-items: flex-start;
      margin: 8px 0 16px 0;

      .insurance-page__title {
        flex: 1;
      }

      img {
        flex-shrink: 0;
        width: 136px;
        height: 160px;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    img {
      display: none;

      @include mixins.responsive(vars.$mobile) {
        display: block;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .insurance-page__row {
      display: flex;

      select {
        padding: 8px 16px;
        border: 1px solid #5E6488;
        border-radius: 8px 0 0 8px;
        font-size: 14px;
        background-color: #fff;
        color: #03050F;

        &:focus {
          outline: none;
          border-color: #0A051E;
        }
      }
    }

    .insurance-page__policy{
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    input[type="checkbox"] {
      accent-color: #0A051E;
    }

    label {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #5E6488;
      gap: 8px;
    }

    span {
      font-size: 12px;
      color: #5E6488;
    }
  }
}
